.MainLayout{
	flex-basis : auto;
	flex-direction : column;
	justify-content : space-around;
	align-items : center;
	margin : 0;
	background : linear-gradient(0deg, yellow, lightGreen);
	padding : 40px;
	
}